NEXT_PUBLIC_SHEETS_EVENTS_URL=https://docs.google.com/spreadsheets/d/e/2PACX-1vS3jcF-XG3QqRFtJpi0Xe0l8TYjt6Lr6Mbyr6kY302-w0cJe5J37eSX3DMKr9L_bz677zDsKro3I_DO/pub?gid=0&single=true&output=csv

NEXT_PUBLIC_SHEETS_LEADERBOARDS_URL=https://docs.google.com/spreadsheets/d/e/2PACX-1vS3jcF-XG3QqRFtJpi0Xe0l8TYjt6Lr6Mbyr6kY302-w0cJe5J37eSX3DMKr9L_bz677zDsKro3I_DO/pub?gid=1493130265&single=true&output=csv

NEXT_PUBLIC_SHEETS_HOF_URL=https://docs.google.com/spreadsheets/d/e/2PACX-1vS3jcF-XG3QqRFtJpi0Xe0l8TYjt6Lr6Mbyr6kY302-w0cJe5J37eSX3DMKr9L_bz677zDsKro3I_DO/pub?gid=1727224326&single=true&output=csv

NEXT_PUBLIC_JOIN_FORM_URL=https://forms.gle/Uqo9bSt497nUJ2AMA

# Your deployed site URL (no trailing slash) — used for sitemap, canonical URLs, OG metadata
NEXT_PUBLIC_SITE_URL=https://yourdomain.com